button.accordion {
    background-color: #d9d9d9;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #B2B2B2;
}

div.accordionSubs {
    padding: 0 18px;
    display: none;
    background-color: #FEFEFE;
}

div.panel{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
}

div.panel a{
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

div.panel a:hover{
    border-left: 4px solid #c8d200;
    padding-left: 2px;
    margin-left: -6px;
}